@page "/"
@using NewDyCalcWasm.Data
@using Append.Blazor.Printing
@inject IPrintingService PrintingService

<PageTitle>Dy Calc</PageTitle>




<div class="container">
    @if (state == 0)
    {
        <div class="row justify-content-center mt-5">
            <div class="col-6 d-lg-block py-2">
                <div class="border rounded shadow-sm p-3">
                    <h6 class="text-muted mb-1 pt-2">
                        <p><b class="mb-1">Instructions :</b></p>
                        <p class="my-1">Day 1</p>
                        <p class="mt-1 mb-0">1. Open Production plans on date <b>@(DateTime.UtcNow.Date.AddDays(1).ToString("dd/MM"))</b></p>
                        <p>2. Take info from <b class="text-primary">18:30h</b> plane button and write it down in input fields</p>
                        <p class="my-1">Day 2</p>
                        <p class="mt-1 mb-0">1. Open Production plans on date <b>@(DateTime.UtcNow.Date.AddDays(2).ToString("dd/MM"))</b></p>
                        <p>2. Take info from <b class="text-primary">10:30h</b> plane button and write it down in input fields</p>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-6 col-md-5 col-lg-3">
                <div class="border rounded shadow-sm p-3">
                    <h3 class="text-center pb-1">Day 1</h3>
                    @foreach (var item in meals)
                    {
                        <h6 class="text-center fw-bold mb-0">@item.NameBox</h6>
                        <input @bind-value="item.FirstDayMeals" type="number" class="border rounded p-2 form-control mb-2" />
                    }
                </div>
            </div>

            <div class="col-6 col-md-5 col-lg-3 ">
                <div class="border rounded shadow-sm p-3">

                    <h3 class="text-center pb-1">Day 2</h3>

                    @foreach (var item in meals)
                    {
                        <h6 class="text-center fw-bold mb-0">@item.NameBox</h6>
                        <input @bind-value="item.SecondDayMeals" type="number" class="border mb-2 rounded p-2 form-control" />

                    }


                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 mt-4">
                <button class="btn btn-primary" @onclick="Calculate" style="width:100%;">Calculate</button>
            </div>
        </div>

    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 mt-2 text-center">
                <h5 class="text-center text-danger">Values are calculated in Carton Box</h5>
                <hr>
                <div class="border p-4 text-start d-inline-block">
                    <ul class="list-group mx-auto" style="width:370px;">
                        <h4 class="text-center">MealBox</h4>
                        @foreach (var item in meals)
                        {
                            <li class="list-group-item">
                                @item.NameBox
                                <span style="float:right">
                                    <span class="border border-dark p-2">@item.CartonMealBox<i class="fa-solid fa-box-open p-1"></i></span>
                                    <span class="border border-dark p-2"> @item.PlasticMealBox <img src="/css/plastic.png" width="20" /></span>
                                </span>
                            </li>
                        }
                    </ul>

                    <ul class="list-group mt-3 mx-auto" style="width:370px;">
                        <h4 class="text-center">HotMeals</h4>

                        @foreach (var item in meals)
                        {
                            <li class="list-group-item">
                                @item.NameHotMeal
                                <span style="float:right">
                                    <span class="border border-dark p-2">@item.CartonHotMeal<i class="fa-solid fa-box-open p-1"></i></span>
                                    <span class="border border-dark p-2">@item.PlasticHotMeal <img src="/css/plastic.png" width="20" /></span>
                                </span>
                            </li>

                        }
                    </ul>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-lg-4 mt-2">
                    <div class="border rounded shadow-sm p-3">
                        <small><i class="fa-solid fa-box-open"></i> Carton boxes you need to take out from freezer</small>
                        <br>
                        <small><img src="/css/plastic.png" width="20" /> Gray plastic box you need to have when finished</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center text-center mt-3">
            <button class="btn btn-outline-dark" @onclick="@(()=> state = 0)" style="width:400px;">Go Back</button>

        </div>
    }
</div>

@code {


    int state = 0;


    List<Meal> meals = new List<Meal>();

    protected override void OnInitialized()
    {
        meals = new List<Meal>
        {
            new Meal(1, "Red / Out / South", "Medditeranian Chicken"),
            new Meal(2, "Blue / Home / North", "Chicken Piccata"),
            new Meal(3, "Orange / Brunch", "Quiche Bellpepper"),
            new Meal(4, "Yellow / CHML", "Meatballs"),
            new Meal(5, "Gray / GFML", "Chicken Risotto"),
            new Meal(6, "Green / VGML", "Masala Quinoa"),
        };
    }

    void Calculate()
    {
        foreach(var item in meals)
        {
            item.Calculate();
        }

        state = 1;
    }

}